name: Publish support package

on:
  release:
    types: published

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python environment
      uses: actions/setup-python@v1
      with:
        python-version: "3.X"
    - name: Set build variables
      env:
        TAG_NAME: ${{ github.ref }}
      run: |
        export TAG=$(basename $TAG_NAME)
        echo "TAG=${TAG}"
        export TAG_VERSION="${TAG%-*}"
        export TAG_BUILD="${TAG#*-}"
        echo "PY_VERSION=${TAG_VERSION}"
        echo "BUILD_NUMBER=${TAG_BUILD}"
        echo "TAG=${TAG}" >> $GITHUB_ENV
        echo "PY_VERSION=${TAG_VERSION}" >> $GITHUB_ENV
        echo "BUILD_NUMBER=${TAG_BUILD}" >> $GITHUB_ENV
    - name: Update Release Asset to S3
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      run: |
        python -m pip install -U pip
        python -m pip install -U setuptools
        python -m pip install awscli
        curl -o artefact.zip -L https://github.com/beeware/Python-Android-support/releases/download/${{ env.TAG }}/Python-${{ env.PY_VERSION }}-Android-support.${{ env.BUILD_NUMBER }}.zip
        aws s3 cp artefact.zip s3://briefcase-support/python/${{ env.PY_VERSION }}/android/Python-${{ env.PY_VERSION }}-Android-support.${{ env.BUILD_NUMBER }}.zip
